.header {
  position: fixed;
  z-index: 1000;
  padding: 30px 50px;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
}

.header__logo span {
  color: #ff7a00;
}

.header__logo::after {
  content: "";
  width: 3px;
  height: 3px;
  background: #ff7a00;
  position: absolute;
  margin: 0 0 0 2px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 10px;
}

.header__nav-link {
  text-decoration: none;
  color: #fff;
  margin: 0 50px 0 0;
}

.header__nav-link:hover {
  border-bottom: 1px solid #fff;
}

.header__nav-link_h {
  text-decoration: none;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid #ff7a00;
}

.header__nav__responsive {
  display: none;
}

.sticky {
  background: rgba(0, 0, 0, 0.7);
  padding: 15px 50px;
}

@media only screen and (max-width: 850px) {
  .header {
    padding: 30px 30px;
  }
}

.sticky {
  background: rgba(0, 0, 0, 0.7);
  padding: 15px 30px;
}

@media only screen and (max-width: 620px) {
  .header {
    height: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .header__logo {
    padding: 0 30px;
  }
  .header__nav {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.7);
    top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav__active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .header__nav-link {
    margin: 1px;
    padding: 15px 30px;
  }
  .header__nav-link:hover {
    border: none;
  }
  .header__nav-link_h {
    padding: 10px 30px;
  }
  .header__nav__responsive {
    display: block;
    padding: 0 30px 0 0;
  }
}

.intro {
  background: url("../img/shawn-ang-nmpW_WwwVSc-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 780px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.intro::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #00010c;
  position: absolute;
  z-index: 0;
  opacity: 0.5;
}

.intro::after {
  content: "";
  position: absolute;
  background-image: url("../img/v1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  z-index: 0;
  bottom: 0;
  left: 0;
}

.intro * {
  z-index: 2;
}

.intro__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  margin: auto 0;
}

.intro__left-line {
  width: 50px;
  height: 1px;
  background: #fff;
}

.intro__left-line-active {
  width: 80px;
  height: 2px;
  background: #ff7a00;
}

.intro__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 200px 0 0 0;
}

.intro__middle_title {
  font-family: "Lemonada";
  font-size: 48px;
  font-weight: 400;
}

.intro__middle_subtitle {
  font-size: 24px;
  font-weight: 40;
}

.intro__middle_btn {
  margin: 50px auto 0 auto;
  padding: 10px 20px;
  border: 1px solid #ff7a00;
  border-radius: 2px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.intro__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 140px;
  margin: auto 50px auto 0;
}

@media only screen and (max-width: 850px) {
  .intro__right {
    margin: auto 30px auto 0;
  }
}

@media only screen and (max-width: 820px) {
  .intro__middle_title {
    font-size: 36px;
  }
  .intro__middle_subtitle {
    font-size: 18px;
  }
  .intro__middle_btn {
    margin: 30px auto 0 auto;
    padding: 8px 15px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 590px) {
  .intro__middle_title {
    font-size: 28px;
  }
  .intro__middle_subtitle {
    font-size: 14px;
  }
  .intro__middle_btn {
    margin: 30px auto 0 auto;
    padding: 6px 12px;
    font-size: 12px;
  }
}

.about {
  width: 100%;
  color: #393939;
  margin: -195px 0 0 0;
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  background-image: url("../img/Rectangle 13.svg");
  background-size: cover;
  width: 100%;
  height: 1160.5px;
  z-index: -1;
  margin: 202px 0 0 0;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__story {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 900px auto 100px auto;
      grid-template-columns: 50px 900px auto 100px auto;
}

.about__story__left {
  width: 100%;
  height: 600px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.about__story__left_field {
  margin: 20px;
}

.about__story__left_field-title {
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  color: #1c1c1c;
  margin: 0 0 10px 0;
}

.about__story__left_field-hr {
  width: 75px;
  height: 1px;
  background: #ff7a00;
  margin: 0 0 10px 0;
}

.about__story__left_field-text {
  letter-spacing: 0.2px;
  line-height: 1.3;
}

.about__story__right {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.about__story__right-img {
  margin: 0 0 10px 0;
}

.about__story__right-number {
  font-size: 36px;
  font-weight: 800;
  color: #1c1c1c;
}

.about__chief {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 100px auto 900px 50px;
      grid-template-columns: auto 100px auto 900px 50px;
  margin: 100px 0 0 0;
}

.about__chief__right {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.about__chief__right_field {
  margin: 20px;
}

.about__chief__right_field-title {
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  color: #1c1c1c;
  margin: 0 0 10px 0;
}

.about__chief__right_field-hr {
  width: 75px;
  height: 1px;
  background: #ff7a00;
  margin: 0 0 10px 0;
}

.about__chief__right_field-text {
  letter-spacing: 0.2px;
  line-height: 1.3;
}

.about__chief__left {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.about__chief__left-img {
  margin: 0 0 10px 0;
}

.about__chief__left-number {
  font-size: 36px;
  font-weight: 800;
  color: #1c1c1c;
}

@media only screen and (max-width: 1170px) {
  .about::before {
    margin: 100px 0 0 0;
  }
  .about__story {
    -ms-grid-columns: 50px 600px auto 100px auto;
        grid-template-columns: 50px 600px auto 100px auto;
  }
  .about__story__left {
    height: 500px;
  }
  .about__story__left_img {
    width: 350px;
  }
  .about__story__left_field {
    overflow: hidden;
  }
  .about__chief {
    -ms-grid-columns: auto 100px auto 600px 50px;
        grid-template-columns: auto 100px auto 600px 50px;
  }
  .about__chief__right {
    height: 500px;
  }
  .about__chief__right_img {
    width: 350px;
  }
  .about__chief__right_field {
    overflow: hidden;
  }
}

@media only screen and (max-width: 850px) {
  .about__story {
    -ms-grid-columns: 30px 600px auto 100px auto;
        grid-template-columns: 30px 600px auto 100px auto;
  }
  .about__chief {
    -ms-grid-columns: auto 100px auto 600px 30px;
        grid-template-columns: auto 100px auto 600px 30px;
  }
}

@media only screen and (max-width: 800px) {
  .about {
    margin: -220px 0 0 0;
  }
  .about::before {
    margin: 480px 0 0 0;
  }
  .about__story {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 50px;
  }
  .about__story__right {
    margin: 50px 0 0 0;
  }
  .about__chief {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 50px 50px 0 50px;
  }
  .about__chief__left {
    margin: 50px 0 0 0;
  }
}

@media only screen and (max-width: 640px) {
  .about::before {
    margin: 1180px 0 0 0;
  }
  .about__story {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__story__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    max-width: 350px;
    padding: 0 0 20px 0;
  }
  .about__chief {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__chief__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    max-width: 350px;
    padding: 0 0 20px 0;
  }
}

.dishes {
  width: 100%;
  position: relative;
  padding: 0 50px;
  margin: 200px 0 0 0;
}

.dishes::before {
  content: "";
  position: absolute;
  background-image: url("../img/Rectangle 60.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: -580px;
  z-index: -2;
  width: 100%;
  height: 840px;
}

.dishes__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dishes__top_title {
  font-size: 28px;
  font-weight: 400;
}

.dishes__top__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 88px;
}

.dishes__top__btns_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: 1px solid #ff7a00;
  border-radius: 50%;
  width: 34px;
  height: 34px;
}

.dishes__top__btns_btn:hover {
  cursor: pointer;
}

.dishes__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 0 0;
}

.dishes__bottom__item {
  width: 300px;
  height: 350px;
  border-radius: 5px;
  background-size: cover;
}

.dishes__bottom__item-1 {
  background-image: url("../img/Rectangle 14.jpg");
}

.dishes__bottom__item-2 {
  background-image: url("../img/Rectangle 15.jpg");
}

.dishes__bottom__item-3 {
  background-image: url("../img/Rectangle 16.jpg");
}

.dishes__bottom__item-4 {
  background-image: url("../img/Rectangle 17.jpg");
}

@media only screen and (max-width: 1330px) {
  .dishes__bottom__item {
    width: 220px;
    height: 250px;
  }
}

@media only screen and (max-width: 1170px) {
  .dishes {
    margin: 230px 0 0 0;
  }
}

@media only screen and (max-width: 1010px) {
  .dishes::before {
    content: "";
    top: -600px;
  }
  .dishes__bottom__item {
    width: 180px;
    height: 210px;
  }
}

@media only screen and (max-width: 850px) {
  .dishes {
    margin: 200px 0 0 0;
  }
  .dishes::before {
    content: "";
    top: -610px;
  }
  .dishes__bottom__item {
    width: 180px;
    height: 210px;
  }
  .dishes__bottom__item:nth-child(4) {
    display: none;
  }
}

@media only screen and (max-width: 665px) {
  .dishes {
    margin: 200px 0 0 0;
  }
  .dishes::before {
    content: "";
    top: -290px;
    height: 500px;
  }
  .dishes__bottom {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .dishes__bottom__item {
    width: 180px;
    height: 210px;
  }
  .dishes__bottom__item:nth-child(3) {
    display: none;
  }
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #393939;
  margin: 100px 0 471px 0;
  position: relative;
}

.testimonials::before {
  content: "";
  position: absolute;
  background-image: url("../img/Rectangle 21.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  z-index: -1;
  margin: 157px 0 0 0;
}

.testimonials__title {
  font-size: 28px;
  font-weight: 400;
  color: #1c1c1c;
}

.testimonials__hr {
  width: 20px;
  height: 2px;
  background: #ff7a00;
  margin: 10px 0 0 0;
}

.testimonials__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  max-width: 1100px;
  min-height: 120px;
  background: #fff;
  margin: 20px 0 0 0;
  padding: 10px 40px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.testimonials__review__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials__review__profile_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 10px;
}

.testimonials__review__profile_name-id {
  font-size: 10px;
  font-weight: 400;
  color: #1c1c1c;
}

.testimonials__review__profile_name-job {
  font-size: 8px;
  font-weight: 400;
}

.testimonials__review__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 5px 0 0 0;
}

.testimonials__review__field_btn {
  border: none;
  background: none;
}

.testimonials__review__field_btn:nth-child(1) {
  padding: 0 10px 0 0;
}

.testimonials__review__field_btn:hover {
  cursor: pointer;
}

.testimonials__review__field_text {
  max-width: 767px;
}

.testimonials__review__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
}

.testimonials__review__btns_btn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ff7a00;
  border: none;
  margin: 0 5px;
}

.testimonials__review__btns_btn:nth-child(2) {
  background: #d0d0d0;
}

@media only screen and (max-width: 1180px) {
  .testimonials__review {
    max-width: 900px;
  }
}

@media only screen and (max-width: 950px) {
  .testimonials {
    margin: 100px 0 461px 0;
  }
  .testimonials__review {
    max-width: 700px;
  }
  .testimonials__review__field {
    margin: 5px 0 5px 0;
  }
}

@media only screen and (max-width: 740px) {
  .testimonials {
    margin: 100px 0 461px 0;
  }
  .testimonials__review {
    max-width: 600px;
  }
  .testimonials__review__field {
    margin: 5px 0 5px 0;
  }
}

@media only screen and (max-width: 640px) {
  .testimonials {
    margin: 100px 0 441px 0;
  }
  .testimonials__review {
    max-width: 500px;
  }
  .testimonials__review__field {
    margin: 5px 0 5px 0;
  }
}

@media only screen and (max-width: 540px) {
  .testimonials {
    margin: 100px 0 401px 0;
  }
  .testimonials__review {
    max-width: 400px;
  }
  .testimonials__review__field {
    margin: 5px 0 5px 0;
  }
}

.footer {
  background: #00010c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  width: 100%;
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  left: 50%;
  z-index: 1;
  margin: -8px 0 0 0;
  width: 16px;
  height: 16px;
  background-image: url("../img/Rectangle 25.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: 50%;
  margin: -20px 0 0 -12px;
  background-image: url("../img/Group 69.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__left {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

.footer__left__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 530px;
}

.footer__left_title {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  position: relative;
}

.footer__left_title span {
  color: #ff7a00;
}

.footer__left_title::after {
  content: "";
  width: 4px;
  height: 4px;
  background: #ff7a00;
  position: absolute;
  margin: 0 0 0 2px;
}

.footer__left_text {
  font-size: 12px;
  font-weight: 500;
  color: #393939;
  margin: 10px 0 0 0;
}

.footer__left_copyright {
  font-size: 12px;
  font-weight: 40;
  color: #393939;
  margin: 40px 0 0 0;
}

.footer__right {
  width: 50%;
  background-image: url("../img/Rectangle 23.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__right__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.footer__right__title {
  font-size: 14px;
  font-weight: 400;
}

.footer__right__input {
  width: 300px;
  height: 30px;
  padding: 0 20px;
  margin: 10px 0 0 0;
  background: none;
  border: 1px solid #fff;
  border-radius: 15px;
}

.footer__right__input::-webkit-input-placeholder {
  color: #ffffff;
}

.footer__right__input:-ms-input-placeholder {
  color: #ffffff;
}

.footer__right__input::-ms-input-placeholder {
  color: #ffffff;
}

.footer__right__input::placeholder {
  color: #ffffff;
}

.footer__right__socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 0 0;
}

.footer__right__socialmedia_text {
  font-size: 10px;
  margin: 0 20px 0 0;
}

.footer__right__socialmedia_icon img {
  width: 15px;
  height: 15px;
}

.footer__right__socialmedia_icon:nth-child(3) {
  margin: 0 25px;
}

@media only screen and (max-width: 850px) {
  .footer {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__left {
    width: 100%;
    height: 300px;
  }
  .footer__right {
    width: 100%;
    height: 300px;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.header__nav-link-active {
  color: #ff7a00;
}

.header__nav-link-active:hover {
  border-bottom: 1px solid #ff7a00;
}

@media only screen and (max-width: 850px) {
  .header__nav-link-active {
    color: #ff7a00;
  }
  .header__nav-link-active:hover {
    border-bottom: none;
  }
}
/*# sourceMappingURL=Main.css.map */