// about

.about {
  width: 100%;
  color: #393939;
  margin: -195px 0 0 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/Rectangle\ 13.svg");
    background-size: cover;
    width: 100%;
    height: 1160.5px;
    z-index: -1;
    margin: 202px 0 0 0;
  }

  &__inner {
    display: flex;
  }

  // about__story
  &__story {
    width: 100%;
    display: grid;
    grid-template-columns: 50px 900px auto 100px auto;

    // about__story__left
    &__left {
      width: 100%;
      height: 600px;
      grid-column: 2 / 3;

      display: flex;
      background: #fff;

      -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);

      // about__story__left_img

      // about__story__left_field
      &_field {
        margin: 20px;

        &-title {
          font-size: 36px;
          font-weight: 500;
          text-transform: uppercase;
          color: #1c1c1c;
          margin: 0 0 10px 0;
        }
        &-hr {
          width: 75px;
          height: 1px;
          background: #ff7a00;
          margin: 0 0 10px 0;
        }
        &-text {
          letter-spacing: 0.2px;
          line-height: 1.3;
        }
      }
    }

    // about__story__right
    &__right {
      grid-column: 4 / 5;
      align-self: center;

      display: flex;
      flex-direction: column;

      text-align: center;

      &-img {
        margin: 0 0 10px 0;
      }
      &-number {
        font-size: 36px;
        font-weight: 800;
        color: #1c1c1c;
      }
    }
  }
  // about__chief
  &__chief {
    width: 100%;
    display: grid;
    grid-template-columns: auto 100px auto 900px 50px;

    margin: 100px 0 0 0;

    // about__chief__right
    &__right {
      grid-column: 4 / 5;

      display: flex;
      background: #fff;

      -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);

      // about__chief__right_field
      &_field {
        margin: 20px;

        &-title {
          font-size: 36px;
          font-weight: 500;
          text-transform: uppercase;
          color: #1c1c1c;
          margin: 0 0 10px 0;
        }
        &-hr {
          width: 75px;
          height: 1px;
          background: #ff7a00;
          margin: 0 0 10px 0;
        }
        &-text {
          letter-spacing: 0.2px;
          line-height: 1.3;
        }
      }
    }

    // about__chief__left
    &__left {
      grid-column: 2 / 3;
      align-self: center;

      display: flex;
      flex-direction: column;

      text-align: center;

      &-img {
        margin: 0 0 10px 0;
      }
      &-number {
        font-size: 36px;
        font-weight: 800;
        color: #1c1c1c;
      }
    }
  }
}

// media queries

@media only screen and (max-width: 1170px) {
  .about {
    &::before {
      margin: 100px 0 0 0;
    }

    // about__story
    &__story {
      grid-template-columns: 50px 600px auto 100px auto;

      // about__story__left
      &__left {
        height: 500px;

        &_img {
          width: 350px;
        }
        &_field {
          overflow: hidden;
        }
      }
    }

    // about_chief
    &__chief {
      grid-template-columns: auto 100px auto 600px 50px;

      // about__chief__right
      &__right {
        height: 500px;

        &_img {
          width: 350px;
        }
        &_field {
          overflow: hidden;
        }
      }
    }
  }
}
@media only screen and (max-width: 850px) {
  .about {
    // about__story
    &__story {
      grid-template-columns: 30px 600px auto 100px auto;
    }

    // about_chief
    &__chief {
      grid-template-columns: auto 100px auto 600px 30px;
    }
  }
}
@media only screen and (max-width: 800px) {
  .about {
    margin: -220px 0 0 0;

    &::before {
      margin: 480px 0 0 0;
    }

    // about__story
    &__story {
      display: flex;
      flex-direction: column;
      margin: 0 50px;

      // about__story__right
      &__right {
        margin: 50px 0 0 0;
      }
    }

    // about__chief
    &__chief {
      display: flex;
      flex-direction: column-reverse;

      margin: 50px 50px 0 50px;

      // about__chief__right
      &__right {
      }
      // about__chief__left
      &__left {
        margin: 50px 0 0 0;
      }
    }
  }
}
@media only screen and (max-width: 640px) {
  .about {
    &::before {
      margin: 1180px 0 0 0;
    }
    // about__story
    &__story {
      align-items: center;
      // about__story__left
      &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        max-width: 350px;
        padding: 0 0 20px 0;
      }
    }
    // about__chief
    &__chief {
      align-items: center;
      // about__story__left
      &__right {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
        max-width: 350px;
        padding: 0 0 20px 0;
      }
    }
  }
}
