.footer {
  background: #00010c;
  display: flex;
  height: 400px;
  width: 100%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    z-index: 1;
    margin: -8px 0 0 0;
    width: 16px;
    height: 16px;
    background-image: url("../img/Rectangle\ 25.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 50%;
    margin: -20px 0 0 -12px;
    background-image: url("../img/Group\ 69.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  // footer__left
  &__left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 90px;

    &_title {
      font-size: 24px;
      font-weight: 400;
      color: #fff;
      position: relative;

      & span {
        color: #ff7a00;
      }
      &::after {
        content: "";
        width: 4px;
        height: 4px;
        background: #ff7a00;
        position: absolute;
        margin: 0 0 0 2px;
      }
    }

    &_text {
      font-size: 12px;
      font-weight: 500;
      color: #393939;

      margin: 10px 0 0 0;
    }

    &_copyright {
      font-size: 12px;
      font-weight: 40;
      color: #393939;

      margin: 40px 0 0 0;
    }
  }

  // footer__right
  &__right {
    width: 50%;

    background-image: url("../img/Rectangle\ 23.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 210px;

    &__title {
      font-size: 14px;
      font-weight: 400;
    }
    &__input {
      width: 300px;
      height: 30px;
      padding: 0 20px;
      margin: 10px 0 0 0;

      background: none;
      border: 1px solid #fff;
      border-radius: 15px;

      &::placeholder {
        color: #ffffff;
      }
    }
    &__socialmedia {
      display: flex;
      margin: 30px 0 0 0;

      &_text {
        font-size: 10px;
        margin: 0 20px 0 0;
      }
      &_icon {
        & img {
          width: 15px;
          height: 15px;
        }

        &:nth-child(3) {
          margin: 0 25px;
        }
      }
    }
  }
}
