.header {
  position: fixed;
  z-index: 1000;

  padding: 30px 50px;
  width: 100%;
  transition: 0.5s;

  display: flex;
  justify-content: space-between;
  align-items: center;

  // header__logo

  &__logo {
    position: relative;
    & span {
      color: #ff7a00;
    }

    &::after {
      content: "";
      width: 3px;
      height: 3px;
      background: #ff7a00;
      position: absolute;
      margin: 0 0 0 2px;
    }
  }

  // header__nav

  &__nav {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 10px;

    &-link {
      text-decoration: none;
      color: #fff;
      margin: 0 50px 0 0;

      &:hover {
        border-bottom: 1px solid #fff;
      }

      &_h {
        text-decoration: none;
        color: #fff;
        padding: 8px 20px;

        border: 1px solid #ff7a00;
      }
    }

    // header__nav__responsive
    &__responsive {
      display: none;
    }
  }
}

.sticky {
  background: rgba($color: #000000, $alpha: 0.7);
  padding: 15px 50px;
}

// media

@media only screen and (max-width: 850px) {
  .header {
    padding: 30px 30px;
  }
}
.sticky {
  background: rgba($color: #000000, $alpha: 0.7);
  padding: 15px 30px;
}

@media only screen and (max-width: 620px) {
  .header {
    height: 60px;
    align-items: center;
    padding: 0;

    // header__logo
    &__logo {
      padding: 0 30px;
    }
    // header__nav
    &__nav {
      // header__nav__active
      &__active {
        transform: translateX(0%);
      }

      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      position: absolute;
      margin: 0 auto;
      width: 100%;
      padding: 20px 0;

      background: rgba($color: #000000, $alpha: 0.7);

      top: 60px;
      flex-direction: column;
      align-items: center;

      &-link {
        margin: 1px;
        padding: 15px 30px;

        &:hover {
          border: none;
        }

        &_h {
          padding: 10px 30px;
        }
      }

      // header__nav__responsive
      &__responsive {
        display: block;
        padding: 0 30px 0 0;
      }
    }
  }
}
