// home
@import "home/header";
@import "home/intro";
@import "home/about";
@import "home/dishes";
@import "home/testimonials";
@import "home/footer";
// menu
@import "menu/intro";
@import "menu/hotDeals";
@import "menu/menu";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}
.header__nav-link-active {
  color: #ff7a00;

  &:hover {
    border-bottom: 1px solid #ff7a00;
  }
}
@media only screen and (max-width: 850px) {
  .header__nav-link-active {
    color: #ff7a00;

    &:hover {
      border-bottom: none;
    }
  }
}
